.buttonBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    width: 25%;
}

.button:hover {
    background-color: white;
}

.header {
    height: 100px;
    font-size: 45px;
    text-align: center;
}

.score {
    font-weight: normal;
}

.table {
    width: 50%;
    height: 50%;
}

.tableCell {
    text-align: center;
    background-color: #b3fff3;
}

.row {
    display: flex;
}

.block {
    display: block;
}